<div><span style="display:none;">app-project-ag-grid app is running!</span></div>



<ag-grid-angular
    #agGrid
    style="width: 100%; height: 600px;"
    [ngClass]="theme"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [sideBar]="{ toolPanels: ['columns', 'filters'] }"
    [groupMultiAutoColumn]="true"
    [groupSuppressAutoColumn]="true"
    (gridReady)="onGridReady()"
    [enableBrowserTooltips]="true"
    [suppressAggFuncInHeader]="true"
    [pagination]="true"
>
</ag-grid-angular>
<!--Button should have an own component-->
<button type="button" class="btn btn-primary" (click)="onBtExport()" style="margin: 5px;" >Export to Excel</button>

<input type="radio" [(ngModel)]="theme" value="ag-theme-balham">Hell
<input type="radio" [(ngModel)]="theme" value="ag-theme-balham-dark">Dunkel


