<div><span style="display:none;">app-project-ag-grid app is running!</span></div>
<button (click)="getSelectedRows()">Get Selected Rows</button>
<button (click)="sizeToFit()">AutoSize</button>
<ag-grid-angular
    #agGrid
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [sideBar]="{ toolPanels: ['columns', 'filters'] }"
    [groupMultiAutoColumn]="true"
    [groupSuppressAutoColumn]="true"
    (gridReady)="onGridReady()"
>
</ag-grid-angular>