<div><span style="display:none;">app-project-ag-grid app is running!</span></div>
<ag-grid-angular
    #agGrid
    style="width: 100%; height: 500px;"
    class="ag-theme-balham"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    [sideBar]="{ toolPanels: ['columns', 'filters'] }"
    [groupMultiAutoColumn]="true"
    [groupSuppressAutoColumn]="true"
    (gridReady)="onGridReady()"
    [enableBrowserTooltips]="true"
    [suppressAggFuncInHeader]="true"  
>
</ag-grid-angular>